.container {
  margin-top: var(--header-height);
  display: flex;
  width: 100%;
}

.content {
  flex: 1;
  margin-left: 232px;
}

.sidebar {
  // height: calc(100vh - 60px);
  // overflow-y: auto;
  // overscroll-behavior: contain;
  position: fixed;
}

// lam scrollbar
// c1:cho over vao ca hai layout sidebar and content
// c2:cho sidebar = sticky or fixed va chi cuon sidebar thoi.
