// menu
.nav-menu {
  margin-bottom: 8px;
}

// menu-item
.menu-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out 0s;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  //   &:hover &__title,
  //   &:hover &__icon {
  //     color: var(--primary-color);
  //   }

  &.active &__icon,
  &.active &__icon-active,
  &.active &__title {
    color: var(--primary-color);
  }

  &.active &__icon {
    display: none;
  }

  &.active &__icon-active {
    display: flex;
  }

  &__icon,
  &__icon-active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }

  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  &__icon-active {
    display: none;
    // position: relative;
    // top: 3px;
  }
}
