.menu-items {
  position: relative;
  width: 223px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    top: -22px;
    right: 16px;
    border: 12px solid;
    border-color: transparent transparent white transparent;
    filter: drop-shadow(1px 1px 5px rgb(0, 0, 0, 0.2));
    // background-color: red;
  }

  .menu-item {
    --height: 42px;

    justify-content: start;
    margin-left: 0 !important;
    width: 100%;
    font-weight: 600;
    border-radius: 0;

    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }

    &.separate {
      border-top: 1px solid var(--bgd-border-tippy-color);
    }
  }
}

.menu-popper {
  padding-bottom: 8px;
}



// header menu
.header-menu {
  position: relative;
  margin-top: -8px;
  height: 50px;

  &__btn {
    width: 50px;
    height: 100%;
    cursor: pointer;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
}
