.menu-items {
  width: 223px;

  .menu-item {
    --height: 42px;

    justify-content: start;
    margin-left: 0 !important;
    width: 100%;
    font-weight: 600;
    border-radius: 0;

    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }

    &.separate {
      border-top: 1px solid var(--bgd-border-tippy-color);
    }
  }
}

.menu-popper {
  padding-bottom: 8px;
}

// menu item
.menu-item {
}

// header menu
.header-menu {
  position: relative;
  margin-top: -8px;
  height: 50px;

  &__btn {
    width: 50px;
    height: 100%;
    cursor: pointer;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
}
