%flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  height: var(--header-height);
  width: 100%;
  padding-left: 16px;
  padding-right: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  background: #fff;

  &-inner {
    @extend %flexSpaceBetween;
    height: 100%;
  }
}



// actions
.actions {
  display: flex;
  align-items: center;
}

// current user
.user {
  &-icon,
  &-avatar {
    cursor: pointer;
  }

  &-icon {
    @extend %flexCenter;
    width: 48px;
    height: 48px;
    margin-left: 12px;
    font-size: 2.6rem;
    color: var(--text-color);

    &__qnt {
      position: relative;

      &::before {
        content: "20";
        position: absolute;
        top: 0;
        right: -5px;
        display: block;
        padding: 1px 6px;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: var(--white-color);
        background-color: var(--primary-color);
        border-radius: 99px;
      }
    }
  }

  &-avatar {
    @extend %flexCenter;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 24px;
  }
}

// menu
.menu-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
}
